
:root {
  --primary-color: #1F2937;
  --secondary-color: #4B5563;
  --accent-color: #3B82F6;
  --bg-color: #F9FAFB;
  --box-bg: #FFFFFF;
  --text-dark: #111827;
  --text-light: #6B7280;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  --radius: 6px;
  --transition: 0.3s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header h2 {
  font-weight: 700;
}

.header p {
  font-weight: lighter;
}


.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.topBoxes {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.boxes {
  list-style: none;
  justify-content: space-around;
  display: flex;
}

.boxes .headerBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 4px;
}

.boxes .aboutTopBox {
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding: 3rem;
}

.mainBoxes {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.mainBoxesCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  list-style: none;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  gap: 1rem;
}

.mainBoxesCards .aboutMainBox {
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: 2rem;
  display: flex;
}
