:root {
  --primary-color: #1f2937;
  --secondary-color: #4b5563;
  --accent-color: #3b82f6;
  --bg-color: #f9fafb;
  --box-bg: #ffffff;
  --text-dark: #111827;
  --text-light: #6C757D;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  --shadow-dark: rgba(0, 0, 0, 0.05) 1px 8px 12px;
  --radius: 6px;
  --transition: 0.3s ease-in-out;
  
}

.header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  color: var(--text-dark);
}

.header h2 {
  font-weight: 700;
}

.header p {
  font-weight: lighter;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.topBoxes {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.boxes {
  list-style: none;
  justify-content: space-around;
  display: flex;
}

.boxes .headerBox {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.boxes .aboutTopBox {
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
  color: var(--text-dark);
  border-radius: 4px;
  padding: 3rem;
}

.mainBoxes {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.mainBoxesCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  list-style: none;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.aboutMainBox {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  border: 1px solid #6c757d4b;
  border-radius: 12px;
}

.aboutMainBox .headerBox {
  margin-bottom: 2rem;
  padding: 2rem;
  width: 100%;
  height: 50%;
  background-color: #1f2937;
  border-radius: var(--radius);
}

.aboutMainBox .headerBox h2 {
  color: var(--box-bg);
  text-align: left;
  font-size: 24px;
}

.listStock {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.listStock .infosStock {
  padding: 1rem;
}

.listStock .stockCards {
  display: flex;
  justify-content: space-between;
  background-color: var(--box-bg);
  margin-bottom: 8px;
  align-items: center;
  padding: 8px;
  height: 3rem;
  box-shadow: var(--shadow-dark);
  
  & p, strong {
    color: var(--text-dark);
  }
}

.stockCards button {
  width: 30%;
  padding: 8px;
  background-color: var(--box-bg);
  border: 1px solid var(--text-dark);
  border-radius: var(--radius);
  color: var(--text-dark);
  cursor: pointer;
  font-weight: bold;
}

.clientsActions,
.stockActions,
.incomeActions,
.salesActions {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.clientsActions button,
.stockActions button,
.incomeActions button,
.salesActions button {
  padding: 8px;
  background-color: var(--box-bg);
  border-radius: var(--radius);
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  cursor: pointer;
  font-weight: bold;
}

.clientsActions button:hover,
.stockActions button:hover,
.incomeActions button:hover,
.salesActions button:hover {
  opacity: 80%;
}
