* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header div{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header h1{
  font-size: 2rem;
  margin-left: 2rem;
  color: #243e36af;
}

header input{
  width: 35vw;
  border: 2px solid #7ca982;
  padding: 10px;
  border-radius: 12px;
  outline: none;
}

.burger-menu {
  cursor: pointer;
}

.box-infos {
  flex: 1;
  margin-top: 2rem;
}

.boxes {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr; 
  gap: 3rem;
  align-items: first baseline; 
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.infos-stock,
.generalOverview,
.lowStockInfos {
  padding: 2rem;
  border: 2px solid #7ca982;
  border-radius: 4px;
  color: #243e36;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.infos-stock span,
.generalOverview span,
.lowStockInfos span {
  cursor: pointer;
}

.go-to-list{
  display: flex;
  cursor: pointer;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  background-color: #7CA982;
  font-size: 1rem;
  font-weight: bold;
  color: #243E36;
  border: none;
  padding: 1rem;
}


.go-to-list:hover{
  background-color: #243E36;
  color: #ffffff;
  transition: 0.4s;
}

.infos-stock div,
.generalOverview div,
.lowStockInfos div {
  display: flex;
  align-items: first baseline;
  gap: 1rem;
}


.infos-stock h1,
.generalOverview h1,
.lowStockInfos h1 {
  font-size: 46px;
  margin-bottom: 1rem;
  text-align: left;
}

.infos-stock h3,
.generalOverview h3,
.lowStockInfos h3 {
  margin-bottom: 0.5rem;
  text-align: left;
  color: #243E36;
}

.lowStockInfos h3{
  color: #DB6161;
}

.generalOverview strong{
  color: #08302485;
}


.lowStockInfos {
  display: flex;
  flex-direction: column;
  border: 2px solid #7ca982;
  border-radius: 8px;
  padding: 2rem;
  border: 2px solid #DB6161;
  color: #DB6161;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lowStockInfos h1{
  color: #C53333;
}

.footer {
  display: flex;
  padding: 1rem;
  background-color: transparent;
}

.logoutBtn {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: #243e36;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.logoutBtn:hover{
  background-color: #111d18;
  transition: 0.4s;
}