* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-infos {
  flex: 1;
  margin-top: 3rem;
}

.boxes {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 3rem;
  align-items: first baseline;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.most-sales,
.about-invoicing,
.less-sold {
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.most-sales {
  margin-top: 1rem;
  border: 2px solid #7ca982;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}

.about-sales {
  gap: 1rem;
  font-size: 24px;
  width: 100%;
  font-weight: bold;
  color: #7ca982;
}

.most-sales button {
  display: flex;
  background-color: #7ca982;
  color: #243e36;
  border: none;
  width: 60%;
  font-size: 20px;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.8rem;
  cursor: pointer;
}
.most-sales button:hover{
    background-color: #5faf69;
}

.about-invoicing {
  color: #243e36;
  border: 2px solid #7ca982;
  height: 250px;
  justify-content: space-evenly;
}

.about-invoicing strong {
  color: #7ca982;
}

.about-invoicing h1 {
  font-size: 34px;
}

.about-invoicing p {
  margin-top: 1rem;
  font-style: italic;
  font-size: 24px;
}

.about-invoicing h3 {
  color: #7ca982;
  font-style: italic;
}

.most-sales h2,
.about-invoicing h2,
.less-sold h2 {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #243e36;
}

.less-sold h2 {
  color: #db6161;
}

.less-sold {
  border: 2px solid #db6161;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  margin-top: 1rem;
}

.less-sold h1 {
  color: #c53333;
}

.less-sold .about {
  gap: 1rem;
  font-size: 24px;
  width: 100%;
  font-weight: bold;
}

.less-sold button {
  display: flex;
  background-color: #db6161;
  color: #ffffff;
  border: none;
  width: 60%;   
  font-size: 20px;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.8rem;
  cursor: pointer;
}

.less-sold button:hover{
    background-color: #c53333;
}

.footer {
  display: flex;
  padding: 1rem;
  background-color: transparent;
}

.logoutBtn {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: #243e36;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.logoutBtn:hover {
  background-color: #111d18;
  transition: 0.4s;
}
