:root {
  --primary-color: #1f2937;
  --secondary-color: #4b5563;
  --bg-color: #F8F9FA;
  --box-bg: #ffffff;
  --text-dark: #111827;
  --text-light: #6b7280;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  --shadow-dark: rgba(0, 0, 0, 0.05) 1px 8px 12px;
  --radius: 6px;
  --transition: 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


html,
body {
  background-color: #E9ECEF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
