:root {
  --primary-color: #1f2937;
  --secondary-color: #4b5563;
  --accent-color: #3b82f6;
  --bg-color: #f9fafb;
  --box-bg: #ffffff;
  --text-dark: #111827;
  --text-light: #6b7280;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  --radius: 6px;
  --transition: 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* abaixo do formBody (1000) */
}

.formBody {
  box-shadow: var(--shadow);
  height: 800px;
  width: 40vw;
  background-color: var(--box-bg);
  padding: 1rem;
  z-index: 1000;
  overflow-y: auto;
}

.formBody .title {
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.title h1 {
  font-size: 24px;
  color: var(--text-dark);
}

.title p {
  font-size: 18px;
  color: var(--text-light);
}
.formBody .inputs {
  gap: 1rem;
  padding: 1rem;
  display: flex;
  border: var(--text-light);
  flex-direction: column;
  margin-bottom: 1rem;
}

.formBody .btnsAction {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  width: auto;
}

.btnsAction button {
  padding: 1rem;
  border-radius: var(--radius);
  width: 200px;
  font-size: 16px;
  cursor: pointer;
}

.btnsAction #saveButton {
  background-color: var(--secondary-color);
  color: var(--box-bg);
}

#addProduct{
  background-color: var(--secondary-color);
  color: var(--box-bg);
  padding: 4px;
  margin-top: 4px;
  align-items: center;
}

.selectedProduct{
  background-color: var(--box-bg);
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 1rem;
  box-shadow: var(--shadow);
}

#selectQuantity{
  display: flex;
  width: 20%;
  background-color: var(--bg-color);
  margin-top: 6px;
  border: var(--radius);
  padding: 6px;
}

.subTotal{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subTotal h3{
  color: var(--text-dark);
  font-size: 16px;
}

.subTotal p{
  font-size: 16px;
  color: var(--text-light);
}


.btnsAction #cancelButton {
  background-color: var(--box-bg);
  border: 1px solid var(--text-light);
}

.btnsAction #cancelButton:hover {
  background-color: var(--bg-color);
}

.btnsAction #saveButton:hover {
  opacity: 80%;
}
