:root {
  --primary-color: #1f2937;
  --secondary-color: #4b5563;
  --bg-color: #f9fafb;
  --box-bg: #ffffff;
  --text-dark: #111827;
  --text-light: #6b7280;
  --shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  --radius: 6px;
  --transition: 0.3s ease-in-out;
}

/* ---------------------------- SVG ---------------------------- */
.svg {
  fill: var(--text-dark);
  stroke: var(--text-dark);
}

/* ---------------------------- HEADER ---------------------------- */
.header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header h3 {
  font-weight: lighter;
  font-size: 1.75rem;
  color: var(--primary-color);
}

.header p {
  font-weight: 300;
  color: var(--text-light);
  font-size: 1rem;
}

/* ---------------------------- MAIN CONTENT ---------------------------- */
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* ---------------------------- TOP BOXES ---------------------------- */
.topBoxes {
  margin: 2rem 1rem 1rem 1rem;
}

.boxes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.boxes .headerBox {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.boxes .aboutTopBox {
  flex: 1;
  min-width: 300px;
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 2rem;
  border: 1px solid #6c757d4b;
}

.aboutTopBox .h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 0.35rem;
  animation: slideFromRight 0.4s ease-out;
}

.headerBox,
.h4,
.p {
  color: var(--text-light);
  animation: slideFromRight 0.4s ease-out;
  font-weight: lighter;
}

.subtitle {
  text-align: justify;
  color: var(--text-dark);
  font-size: 0.9rem;
}

/* ---------------------------- RECORD NEW SALE ---------------------------- */
.recordNewSale {
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border-radius: var(--radius);
}

.recordNewSaleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.recordNewSale .h3 {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
}

.recordNewSale .salesP {
  font-weight: 300;
  color: var(--text-light);
}

.addNewSale {
  border-radius: var(--radius);
  border: none;
  color: var(--box-bg);
  cursor: pointer;
  padding: 0.85rem 1.5rem;
  background-color: var(--primary-color);
  width: fit-content;
  transition: var(--transition);
}

.addNewSale:hover {
  background-color: var(--secondary-color);
}

/* ---------------------------- GRAPHS ---------------------------- */
.nextSteps {
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border-radius: var(--radius);
  margin: 1rem;
  padding: 1rem;
}

.nextSteps .h3 {
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 600;
}

.nextSteps .actions {
  display: flex;
  flex-direction: column;
}

.nextSteps .actions .listPages {
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.nextSteps .actions .cardNextSteps {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  height: 80px;
  text-align: center;
  color: var(--text-dark);
  padding: 1rem;
  border: 1px solid #6c757d4b;
  border-radius: var(--radius);
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
  font-size: 1.25rem;
  transition: var(--transition);
}

.cardNextSteps h4 {
  font-weight: lighter;
  color: var(--text-dark);
}
.cardNextSteps button {
  background-color: var(--primary-color);
  font-size: 1.5rem;
  width: 40px;
  color: var(--box-bg);
  cursor: pointer;
  transition: var(--transition);
}
.graphsContainer .graph span:hover {
  transform: translateY(-4px);
}

/* ---------------------------- SALES LIST ---------------------------- */
.listSales {
  margin: 2rem 1rem;
  padding: 1rem 2rem;
  background-color: var(--box-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

/* ---------------------------- ANIMATIONS ---------------------------- */
@keyframes slideFromRight {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
