.svg {
  fill: #f7f7f7;
  stroke: #f7f7f7;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header h2 {
  font-weight: bold;
}
.header p {
  font-weight: lighter;
}

/*----------------------------------------------------------------*/

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.topBoxes {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.boxes {
  list-style: none;
  justify-content: space-around;
  display: flex;
}

.boxes .headerBox {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}


.boxes .aboutTopBox {
  align-items: first baseline;
  background: linear-gradient(#8ea7c9, #91abce);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 4px;
  padding: 3rem;
}

.aboutTopBox .h1,
.headerBox,
.h4,
.p {
  align-items: flex-start;
  color: #f7f7f7;
}

.boxes .aboutTopBox .h1 {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 12px;
}

.subtitle {
  text-align: justify;
  color: #f7f7f7;
  align-items: first baseline;
}

/*-----------------------------------------------------------------------*/

.recordNewSale {
  padding: 1rem;
  margin: 1rem;
}

.recordNewSale .recordNewSaleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.recordNewSale h3, .salesP{
  color: #0D1B2A;
  align-items: first baseline;
} 
.recordNewSale .addNewSale {
  border-radius: 4px;
  border: none;
  color: #f7f7f7;
  cursor: pointer;
  padding: 12px;
  background: linear-gradient(#415A77, #2352a8);
  width: 15%;
}

.addNewSale:hover {
  background: linear-gradient(#415A77, #1B263B);
}

/*--------------------------------------------------------------*/

.graphsContainer {
  margin: 1rem;
  padding: 1rem;
}

.graphsContainer .graph {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.graphsContainer .graph span {
  background: linear-gradient(#8ea7c9, #91abce);
  text-align: center;
  color: #f7f7f7;
  padding: 5rem;
  width: 50%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.listStock {
  margin: 1rem;
  padding: 1rem;
}
